.box-demo {
  width: 240px;
  height: 120px;
  padding: 12px;
  border: 2px solid #333;
  margin: 16px auto;
}
.music{
    font-family: cursive;
    font-size: larger;
    color: darkgreen;
   text-align: center;
}
p{
    margin: 20px;
   
}


